{% extends 'base_back.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
{{dump(post) }}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Text_content</th>
                <td>{{ post.textContent }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Validated_at</th>
                <td>{{ post.validatedAt ? post.validatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_app_post_index') }}">back to list</a>

    <a href="{{ path('admin_app_post_edit', {'id': post.id}) }}">edit</a>

    {{ include('back/post/_delete_form.html.twig') }}
{% endblock %}
