{% extends 'base_front.html.twig' %}

{% block title %}BeatHub | Register!{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
          <p class="flash-{{ label }}">{{ message }}</p>
        {% endfor %}
    {% endfor %}
    {{ form_start(form, {'attr': {'class': 'form'}} ) }}
        {{ form_rest(form) }}
        <button class="button" type="submit" >Register</button>
    {{ form_end(form) }}
{% endblock %}
