<nav class="sidebar">
  <div class="sidebar__container">
    <div class="sidebar__container__logo-container">
      <a class="sidebar__container__logo-container__home-link" href="{{ path('front_default_index') }}">
        <img src="/build/images/logo.svg" class="sidebar__container__logo-container__home-link__logo" >
        <span class="sidebar__container__logo-container__home-link__texte">BeatHub</span>
      </a>
    </div>
    <div class="sidebar__container__navigation">
    <section class="sidebar__container__navigation__section">
        {% include '/Back/components/sidebarButton.html.twig' with {
            href: path('admin_default_index'),
            iconTwig: '/icons/home.html.twig',
            text: 'Dashboard',
          }
        %}
      </section>
      {% if is_granted('ROLE_ARTIST') %}
        <section class="sidebar__container__navigation__section">
          <span class="sidebar__container__navigation__section__title">Invitations</span>
          {% include '/Back/components/sidebarButton.html.twig' with {
              href: path('admin_app_invite_index'),
              iconTwig: '/icons/invitation.html.twig',
              text: 'Invitations received',
            }
          %}
        </section>
      {% endif %}
      {% if is_granted('ROLE_ARTIST') or is_granted('ROLE_CAN_MODERATE_COMMENT') %}
        <section class="sidebar__container__navigation__section">
          <span class="sidebar__container__navigation__section__title">Content</span>
          {% if is_granted('ROLE_ARTIST') %}
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_app_post_index'),
                iconTwig: '/icons/post.html.twig',
                text: 'Posts',
              }
            %}
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_app_event_index'),
                iconTwig: '/icons/ticket.html.twig',
                text: 'Events',
              }
            %}
          {% endif %}
          {% if is_granted('ROLE_CAN_MODERATE_COMMENT') %}
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_app_comment_validation'),
                iconTwig: '/icons/shieldCheck.html.twig',
                text: 'Comment moderation',
              }
            %}
          {% endif %}
          {% if is_granted('ROLE_ADMIN') %}
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_app_club_index'),
                iconTwig: '/icons/music.html.twig',
                text: 'Clubs',
              }
            %}
          {% endif %}
        </section>
      {% endif %}

      <section class="sidebar__container__navigation__section">
        {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
          <span class="sidebar__container__navigation__section__title">Management</span>
           {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_app_artist_index'),
                iconTwig: '/icons/user.html.twig',
                text: 'Artists',
              }
            %}
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_user_index'),
                iconTwig: '/icons/link.html.twig',
                text: 'Associate user to Artist',
              }
            %}
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_app_post_validation'),
                iconTwig: '/icons/checkPost.html.twig',
                text: 'Validate posts',
              }
            %}
            {% include '/Back/components/sidebarButton.html.twig' with {
                href: path('admin_app_event_privacy_index'),
                iconTwig: '/icons/home.html.twig',
                text: 'Change event privacy',
              }
            %}
          {% endif %}
        </section>
    </div>

  </div>
  <footer class="sidebar__footer">
    <img class="sidebar__footer__avatar" src="{{ asset(app.user.getProfilePicturePath) }}" alt="Avatar">
    <span class="sidebar__footer__username">
      {{ app.user.userIdentifier }}
      {% if app.user.IdArtist is not null %}
        ({{ app.user.IdArtist.Pseudo }})
      {% endif %}
    </span>
    <a class="sidebar__footer__icon" href="{{ path('app_logout') }}">
      {% include '/icons/logout.html.twig' with { class: 'sidebar__container__navigation__section__item__icon'} %}
    </a>
  </footer>
</nav>