{% block body %}
  <p>New event from your favorite artist : {{ event.ArtistAuthor.pseudo }} !</p>
  <p><strong>{{ event.Title }}</strong></p>
  <p><a href="{{url('front_app_event_show', {'slug': event.Slug})}}">Check it out !</a></p>
  <p><a href="{{url('front_app_event_show', {'slug': event.Slug})}}">{{url('front_app_event_show', {'slug': event.Slug})}}</a></p>
{% endblock %}
