{% block body %}
  <p>The arstist {{ event.IdArtist.pseudo }} posted a new article !</p>
  <p><strong>{{ event.Title }}</strong></p>
  <p><a href="{{url('front_app_post_show', {'slug': event.Slug})}}">Check it out !</a></p>
  <p><a href="{{url('front_app_post_show', {'slug': event.Slug})}}">{{url('front_app_post_show', {'slug': event.Slug})}}</a></p>
{% endblock %}