{% extends 'base_back.html.twig' %}

{% block title %}BeatHub | Edit {{ artist.pseudo }} {% endblock %}

{% block body %}
    <h1>Edit artist {{ artist.pseudo }}</h1>

    {{ include('Back/post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_app_artist_index') }}">back to list</a>

    {{ include('Back/artist/_delete_form.html.twig') }}
{% endblock %}
