<!DOCTYPE html>

<title>Artist</title>

{% block body %}
    <h1>Artist</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artist.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ artist.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ artist.prenom }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ artist.pseudo }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ artist.description }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ artist.email }}</td>
            </tr>
            <tr>
                <th>Url_yt</th>
                <td>{{ artist.urlYt }}</td>
            </tr>
            <tr>
                <th>Url_soundcloud</th>
                <td>{{ artist.urlSoundcloud }}</td>
            </tr>
            <tr>
                <th>Url_spotify</th>
                <td>{{ artist.urlSpotify }}</td>
            </tr>
            <tr>
                <th>Url_deezer</th>
                <td>{{ artist.urlDeezer }}</td>
            </tr>
            <tr>
                <th>Picture_path</th>
                <td>{{ artist.picturePath }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ artist.country }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ artist.type }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ artist.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_artist_index') }}">back to list</a>

    <a href="{{ path('app_artist_edit', {'id': artist.id}) }}">edit</a>

    {{ include('artist/_delete_form.html.twig') }}
{% endblock %}
