{% extends 'base_back.html.twig' %}

{% block title %}BeatHub | Edit {{ club.Name }} {% endblock %}

{% block body %}
    <h1>Edit club {{ club.name }}</h1>

    {{ include('Back/club/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_app_club_index') }}">back to list</a>

    {{ include('Back/club/_delete_form.html.twig') }}
{% endblock %}
