<!DOCTYPE html>

<title>ConcertHall</title>

{% block body %}
    <h1>ConcertHall</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ concert_hall.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ concert_hall.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ concert_hall.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ concert_hall.city }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ concert_hall.capacity }}</td>
            </tr>
            <tr>
                <th>Site_link</th>
                <td>{{ concert_hall.siteLink }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_concert_hall_index') }}">back to list</a>

    <a href="{{ path('app_concert_hall_edit', {'id': concert_hall.id}) }}">edit</a>

    {{ include('concert_hall/_delete_form.html.twig') }}
{% endblock %}
