{% extends 'base_front.html.twig' %}

{% block title %}Beathub | {{ club.name }} {% endblock %}

{% block body %}
  {% include '/Front/components/clubHeader.html.twig' with { club, followerCount, isFollowed } %}
{% include '/Front/components/section.html.twig' with {name: 'Upcoming Events'} %}
<div class="clubs-list">
{% set upcomingEvents = club.getevents|filter(e => e.private == false)|filter(e => e.startdate > date('now')) %}
{% if upcomingEvents|length == 0 %}
  <div class="no-events">
    <p>There are no upcoming events for this club.</p>
  </div>
{% endif %}

{% for event in upcomingEvents %}
  {% include '/Front/components/eventRow.html.twig'
    with {
      eventId : event.id,
      eventImagePath : event.getPrefixedPicturePath,
      eventName : event.title,
      eventSlug : event.slug,
      eventDate :  event.startdate|date("D M j"),
      eventClubName : club.name,
      eventClubCity : club.city
    }
  %}
{% endfor %}
</div>

{% include '/Front/components/section.html.twig' with {name: 'Passed events'} %}
<div class="clubs-list">
{% set passedEvents = club.getevents|filter(e => e.private == false)|filter(e => e.startdate < date('now')) %}
{% if passedEvents|length == 0 %}
  <div class="no-events">
    <p>There are no passed events for this club.</p>
  </div>
{% endif %}

{% for event in passedEvents %}
  {% include '/Front/components/eventRow.html.twig'
    with {
      eventId : event.id,
      eventImagePath : event.getPrefixedPicturePath,
      eventName : event.title,
      eventSlug : event.slug,
      eventDate :  event.startdate|date("D M j"),
      eventClubName : club.name,
      eventClubCity : club.city
    }
  %}
{% endfor %}
</div>

{% include '/Front/components/section.html.twig' with {name: 'Top Listed Artists'} %}
{% for event in club.getevents %}
  {% for artist in event.getartists %}
      {% include '/Front/components/artistRow.html.twig'
        with {
          artistSlug: artist.slug,
          artistImagePath: artist.getPrefixedPicturePath,
          artistName: artist.prenom ~ ' ' ~ artist.nom ~ ' (' ~ artist.pseudo ~ ')',
          artistCountry: artist.Country,
          artistTotalEvents: artist.eventCount | default(artist.getevents.count() ?? 0),
          artistTotalFollowers: artist.followerCount | default( artist.followed.count() ?? 0),
        } 
      %}
  {% endfor %}
{% endfor %}


{% include '/Front/components/section.html.twig' with {name: 'Location'} %}
{{ club.address }} {{ club.city }} 
{% if club.Location %}
  <iframe height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox={{ club.Location.longitude }}%2C{{ club.Location.latitude }}%2C{{ club.Location.longitude }}%2C{{ club.Location.latitude }}&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=15/{{ club.Location.latitude }}/{{ club.Location.longitude }}">Afficher une carte plus grande</a></small>
{% else %}
<iframe height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.3028373718261723%2C48.84223752518157%2C2.3563957214355473%2C48.86835647932926&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=15/48.8553/2.3296">Afficher une carte plus grande</a></small>
{% endif %}
{% endblock %}
