<!DOCTYPE html>

<title>Artist index</title>

{% block body %}
    <h1>Artist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pseudo</th>
                <th>Description</th>
                <th>Email</th>
                <th>Url_yt</th>
                <th>Url_soundcloud</th>
                <th>Url_spotify</th>
                <th>Url_deezer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.nom }}</td>
                <td>{{ artist.prenom }}</td>
                <td>{{ artist.pseudo }}</td>
                <td>{{ artist.description }}</td>
                <td>{{ artist.email }}</td>
                <td>{{ artist.urlYt }}</td>
                <td>{{ artist.urlSoundcloud }}</td>
                <td>{{ artist.urlSpotify }}</td>
                <td>{{ artist.urlDeezer }}</td>
                <td>
                    <a href="{{ path('app_artist_show', {'id': artist.id}) }}">show</a>
                    <a href="{{ path('app_artist_edit', {'id': artist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artist_new') }}">Create new</a>
{% endblock %}
