{% extends 'base_front.html.twig' %}

{% block title %}Beathub | {{ event.title }} {% endblock %}

{% block body %}

  {% include '/Front/components/eventHeader.html.twig' with { event } %}

{% include '/Front/components/section.html.twig' with {name: 'Lineup'} %}

  {% for artist in event.getartists %}
      {% include '/Front/components/artistRow.html.twig'
        with {
          artistSlug: artist.slug,
          artistImagePath: artist.picture_path | default(null),
          artistName: artist.prenom ~ ' ' ~ artist.nom ~ ' (' ~ artist.pseudo ~ ')',
          artistCountry: 'Italy TODO',
          artistTotalEvents: artist.eventCount | default(artist.getevents.count() ?? 0),
          artistTotalFollowers: artist.followerCount | default( artist.followed.count() ?? 0),
        } 
      %}
  {% endfor %}

{% include '/Front/components/section.html.twig' with {name: 'Musics'} %}
{% for artist in event.getartists %}
<div style="display: flex;justify-content: space-around;">
    {% for media in artist.getmedias %}
    <div>
        <div style="height: 200px; width: 200px; background-color: red;"></div>
            <p>{{ media.title }} <b>{{  media.date | default(2022)}}</b></p>
            <p>{{ artist.pseudo }}  -  {{ media.duree }}</p>
    </div>
    {% endfor %}    
</div>
{% endfor %}


{% include '/Front/components/section.html.twig' with {name: 'Medias'} %}
<p> Todo </p>
<div style="display: flex;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_7Hx_IB9Qys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_7Hx_IB9Qys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
{% endblock %}
