<div class="club-header">
  <img src="{{ asset(club.getPrefixedPicturePath) }}">
  <div class="club-header__content">
    <span class="club-header__content__type"> Club</span>
    <div class="club-header__content__name">
      <h1 class="club-header__content__name__text">
        {{ club.name }}
      </h1>
      {% if 1 is not null %}
        <a href="{{ 'test' }}" target="_blank">
        </a>
      {% endif %}
    </div>
    <p>{{ club.description }} </p>
    <div class="club-header__content__info">
      {% if 1 is not null %}
        <span class="club-header__content__info__icons">
          {% include '/icons/warehouse.html.twig' with { class: "warehouse-logo" } %} Capacity <b>{{ club.capacity }}</b>
        </span>
      {% endif %}
        {% if 1 is not null %}
        <span class="club-header__content__info__icons">
          {% include '/icons/warehouse.html.twig' with { class: "warehouse-logo" } %} Total Events <b>{{ club.capacity }}</b>
        </span>
      {% endif %}
    </div>

    <div class="club-header__content__actions">
      {% if not app.user %}
        {% include '/Front/components/button.html.twig' with {
          text: 'Sign in',
          link: path('app_login'),
          class: 'club-header__content__actions__follow-text__sign-in',
          type: 'link',
          color: 'black',
        } %}<span class="club-header__content__actions__follow-text">&nbsp;to follow this club and be notified for the next show</span>
      {% else %}
        {% if isFollowed == false %}
          {% include '/Front/components/button.html.twig' with {
            text: 'Follow (' ~ followerCount ~ ')',
            link: path('front_app_concerthall_follow', {id: club.id}) ,
            class: 'artist-header__content__actions__follow-button',
            type: 'outline',
            color: 'white',
          } %}
        {% else %}
          {% include '/Front/components/button.html.twig' with {
            text: 'Unfollow (' ~ followerCount ~ ')',
            link: path('front_app_concerthall_unfollow', {id: club.id}) ,
            class: 'artist-header__content__actions__follow-button',
            type: 'outline',
            color: 'white',
          } %}
        {% endif %}
        <span class="artist-header__content__actions__follow-text"> Follow this club to be notified for the next show</span>
      {% endif %}
    </div>
  </div>
</div>