<div class="comment {{ comment.ValidatedAt != null ? '' : 'comment--not-validated' }}">
  <img class="comment__avatar" src="{{ comment.IdUser.ProfilePicturePath is null ? asset('build/data-files/artist-pictures/placeholder-image.webp') : asset(comment.IdUser.ProfilePicturePath) }}">
  <div class="comment__content">
    <div class="comment__content__header">
      <span class="comment__content__header__name">
        {# {{ comment.IdUser.email }} #}
        USERNAME NOT IMPLEMENTED
      </span>
      {% if comment.ValidatedAt != null %}
        <span class="comment__content__header__date">
          {{ comment.CreatedAt|date('d/m/Y') }}
        </span>
      {% else %}
        <span class="comment__content__header__not-validated">
          Your comment is awaiting moderation. It will be published after validation.
        </span>
      {% endif %}
    </div>
    <div class="comment__content__text">
      {{ comment.Text }}
    </div>
      {% if comment.ValidatedAt != null %}
        <div class="comment__content__actions">
          {% include '/Front/components/button.html.twig' with {
            text: isCommentLiked ? 'Liked' : 'Like',
            link: '#',
            class: 'comment__content__actions__like',
            type: 'link',
            color: 'white',
          } %}
          <div class="comment__content__actions__stat">
            {% if isCommentLiked %}
              <img src="{{ asset('build/images/icons/like.svg') }}" class="post__content__footer__like-count__stat__icon">
            {% else %}
              <img src="{{ asset('build/images/icons/like-outline.svg') }}" class="post__content__footer__like-count__stat__icon">
            {% endif %}
            <span class="post__content__footer__like-count__stat__text">{{ 'LIKE NOT IMPLEMENTED' }}</span>
          </div>
        </div>
      {% endif %}
  </div>
</div>