<div class="comment {{ comment.ValidatedAt != null ? '' : 'comment--not-validated' }}">
  <img class="comment__avatar" src="{{ comment.IdUser.ProfilePicturePath is null ? asset('build/data-files/artist-pictures/placeholder-image.webp') : asset(comment.IdUser.ProfilePicturePath) }}">
  <div class="comment__content">
    <div class="comment__content__header">
      <span class="comment__content__header__name">
        {# {{ comment.IdUser.email }} #}
        USERNAME NOT IMPLEMENTED
      </span>
      {% if comment.ValidatedAt != null %}
        <span class="comment__content__header__date">
          {{ comment.CreatedAt|date('d/m/Y') }}
        </span>
      {% else %}
        <span class="comment__content__header__not-validated">
          Your comment is awaiting moderation. It will be published after validation.
        </span>
      {% endif %}
    </div>
    <div class="comment__content__text">
      {{ comment.Text }}
    </div>
  </div>
</div>