<div class="event-header">
  <img src="{{ asset(event.getPrefixedPicturePath) }}">
  <div class="event-header__content">
    <span class="event-header__content__type">Event</span>
    <div class="event-header__content__name">
      <h1 class="event-header__content__name__text">
        {{ event.title }}
      </h1>
    </div>
    <p>{{ event.description }}</p>
    <div class="event-header__content__info">
      {% if 1 is not null %}
        <span class="event-header__content__info__icons" style="white-space: nowrap">
          {% include '/icons/warehouse.html.twig' %} Venue <b>{{ event.getidconcerthall.name }}</b>
        </span>
      {% endif %}

      {% if 1 is not null %}
        <span class="club-header__content__info__icons" style="white-space: nowrap">
          {% include '/icons/warehouse.html.twig' %} Date <b>{{ event.startdate|date("D M j") }}</b>
        </span>
      {% endif %}

        {% if 1 is not null %}
        <span class="club-header__content__info__icons" style="white-space: nowrap">
          {% include '/icons/warehouse.html.twig' %} Capacity <b>{{ event.getidconcerthall.capacity }}</b>
        </span>
      {% endif %}
      {% if app.user %}
        {% if app.user in event.getInsterestedUsers %}
               <form id="form-interested" action="{{path('front_app_event_uninterested', {id: event.id})}}" method="post">
               <input type="hidden" name="_token" value="{{ csrf_token('interested') }}">
                <a class="button button-type--outline button-color--white" style="white-space: nowrap" onclick="document.getElementById('form-interested').submit();">
                  Interested ✅
                </a>
                </form>
        {% else %}
              <form id="form-interested" action="{{path('front_app_event_interested', {id: event.id})}}" method="post">
               <input type="hidden" name="_token" value="{{ csrf_token('interested') }}">
                <a class="button button-type--outline button-color--white" style="white-space: nowrap" onclick="document.getElementById('form-interested').submit();">
                        Interested ?
                </a>
                </form>
        {% endif %}
      {% endif %}
      {% if event.getTicketingLink %}
        <a class="button button-type--outline button-color--white" style="white-space: nowrap" href="{{event.getTicketingLink}}" target="_blank">
          Buy tickets
        </a>
      {% endif %}
    </div>
  </div>
</div>