<a href="" class="event-row">
  <img class="event-row__image" src="{{ asset(eventImagePath) }}">
  <div class="event-row__info">
    <span class="event-row__info__name">{{ eventName }}</span>
    <span class="event-row__info__date">{{ eventDate }}</span>
  </div>
  <div class="event-row__info">
    <span class="event-row__info__club-name">{{ eventClubName }}</span>
    <span class="event-row__info__club-city">{{ eventClubCity }}</span>
  </div>
</a>