<div class="media" >
  <img class="media__img" src="{{ mediaPicture }}">
  <div class="media__text-container">
    <p class="media__paragraph">{{ mediaTitle }}</p>
    {% set minutes = mediaDuree / 60 %}
    {% set seconds = mediaDuree % 60 %}
    <span class="media__light-text">
      {% for artist in mediaArtist %}{{artist.pseudo}}{% endfor %} • {{ minutes|split('.')[0] }} min {{seconds}}s
    </span>
  </div>
</div>