<div style="display: flex;justify-content:left; flex-wrap: wrap;">
    {% for media in artist.getmedias %}
        <div style="margin-right: 16px; margin-bottom: 8px; max-width: 200px; width: 200px;">
            <div style="height: 200px; width: 200px; background-color: red; background-image:url('{{media.getmediaslists[0].getPrefixedPathCover}}');    background-size: cover;"></div>
                <p>{{ media.title }} <b class="event-row__info__duration"> • {{  media.date | default(2022)}}</b></p>
                <p class="event-row__info__duration">{{ artist.pseudo }}  •  {{ media.duree|date('i:s')  }}</p>
        </div>     

    {% endfor %}    
</div>