<div style="display: flex;justify-content:space-between; flex-wrap: wrap;">
    {% for media in artist.getmedias %}
      {% if loop.index < 4 %}
        <div style="margin-right: 16px; margin-bottom: 16px; max-width: 200px; width: 200px;">
            <div style="height: 200px; width: 200px; background-color: red; background-image:url('{{media.getmediaslists[0].getPrefixedPathCover}}');    background-size: cover;"></div>
                <p>{{ media.title }} <b class="event-row__info__duration"> • {{  media.date | default(2022)}}</b></p>
                <p class="event-row__info__duration">{{ artist.pseudo }}  •  {{ media.duree|date('i:s')  }}</p>
        </div>
        {% else %}
        
       <div style="margin-right: 16px; margin-bottom: 16px; max-width: 200px; width: 200px;">
            <div style="height: 50px; width: 50px; background-color: red; background-image:url('{{media.getmediaslists[0].getPrefixedPathCover}}');    background-size: cover;"></div>
                <p>{{ media.title }} <b class="event-row__info__duration">• {{  media.date | default(2022)}}</b></p>
                <p class="event-row__info__duration">{{ artist.pseudo }}  •  {{ media.duree|date('i:s') }}</p>
        </div>      

      {% endif %}

    {% endfor %}    
</div>