<div class="post {{ showComments ? 'show-comment' : '' }}">
  <div class="post__author">
    <img src="{{ asset(post.IdArtist.getPrefixedPicturePath) }}" class="post__author__image">
    <a class="post__author__name" href="{{ path('front_app_artist_show', {'slug': post.IdArtist.Slug}) }}">{{ post.IdArtist.Type == 'group' ? post.IdArtist.Pseudo : post.IdArtist.Prenom ~ ' ' ~ post.IdArtist.Nom ~ ' (' ~ post.IdArtist.Pseudo ~ ')' }}</a>
    <span class="post__author__date">{{ post.ValidatedAt|date('d/m/Y') }}</span>
  </div>
  <div class="post__content">
    <div class="post__content__header">
      <span class="post__content__header__title">{{ post.Title }}</span>
      {% if showComments == false %}
        {% include '/Front/components/button.html.twig' with {
          text: 'View Post & Comments',
          link: path('front_app_post_show', {'slug': post.Slug}),
          class: 'post__content__header__link',
          type: 'outline',
          color: 'white',
        } %}
      {% endif %}
    </div>
    {% if trimDescription == true %}
    
      <p class="post__content__text">{{ post.TextContent |slice(0, 500)|trim ~ (post.TextContent |length > 500 ? ' ...' : '') }}</p>
    {% else %}
      <p class="post__content__text">{{ post.TextContent }}</p>
    {% endif %}
    {% if post.getIdEvent %}
      <div class="post__content__event">
        {% include '/Front/components/eventRow.html.twig' 
          with {
            eventId : post.getIdEvent.id,
            eventImagePath : post.getIdEvent.getPrefixedPicturePath,
            eventName : post.getIdEvent.title,
            eventSlug : post.getIdEvent.slug,
            eventDate :  post.getIdEvent.startdate|date("D M j"),
            eventClubName : post.getIdEvent.getIdConcerthall.name,
            eventClubCity : post.getIdEvent.getIdConcerthall.city,
            }
        %}
      </div>
    {% endif %}
    <div class="post__content__medias">
      {% if post.getIdMediaslist %}
        <div class="post__content__mediaslist">
          {% include '/Front/components/mediasListCard.html.twig' with {
            mediasListPicture: post.getIdMediaslist.pathCover,
            mediasListTitle: post.getIdMediaslist.title,
            mediaslistDate: post.getIdMediaslist.releaseDate|date("Y"),
            mediaslistArtist: post.getIdMediaslist.getArtists,
            mediasListDuration: mediasListDuration,
          } %}
        </div>
      {% endif %}
      {% if post.getIdMedia %}
        <div class="post__content__media">
          {% include '/Front/components/mediaCard.html.twig' with {
            mediaTitle: post.getIdMedia.title,
            mediaArtist: post.getIdMedia.getArtists,
            mediaDuree: post.getIdMedia.duree,
            mediaPicture: post.getIdMedia.FilePath,
          } %}
        </div>
      {% endif %}
    </div>
    <div class="post__content__footer">
      <div class="post__content__footer__comment-count">
        {% include '/icons/comment.html.twig' with { class: 'post__content__footer__comment-count__icon' } %}
        {# Count only the validated comment #}
        <span class="post__content__footer__comment-count__text">{{ post.Comments|length - post.Comments|filter(c => c.ValidatedAt is null)|length }}</span>
      </div>
      <div class="post__content__footer__like-count">
        {% if not app.user %}
          {% include '/Front/components/button.html.twig' with {
              text: isPostLiked ? 'Liked' : 'Like',
              link: path('app_login'),
              class: 'post__content__footer__like-count__button',
              type: 'link',
              color: 'white',
            } %}
        {% else %}
            {% include '/Front/components/button.html.twig' with {
              text: isPostLiked ? 'Liked' : 'Like',
              link: isPostLiked ? path('front_app_post_unlike', {'id': post.Id}) : path('front_app_post_like', {'id': post.Id}),
              class: 'post__content__footer__like-count__button',
              type: 'link',
              color: 'white',
            } %}
        {% endif %}
        <div class="post__content__footer__like-count__stat">
          {% if isPostLiked %}
            {% include '/icons/like.html.twig' with { class: 'post__content__footer__like-count__stat__icon' } %}
          {% else %}
            {% include '/icons/like-outline.html.twig' with { class: 'post__content__footer__like-count__stat__icon' } %}
          {% endif %}
          <span class="post__content__footer__like-count__stat__text">{{ post.Userslike|length }}</span>
        </div>
      </div>
    </div>
  </div>
  {% if showComments %}
    {% if post.Comments|length > 0 %}
      <div class="post__comments">
        {% for comment in post.Comments %}
          {% if comment.ValidatedAt is not null or comment.IdUser == app.user %}
            {% include '/Front/components/comment.html.twig' with { comment } %}
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <div class="post__comments">
        <span class="post__comments__no-comments">No comments yet :( Be the first to comment this post</span>
      </div>
    {% endif %}
    <div class="post__comment-form">
      {% include '/Front/components/comment-form.html.twig' with { post } %}
    </div>
  {% endif %}
</div>