{% block topbar %}
<div class="topbar">
  <a class="topbar__logo" href="{{ path('front_default_index') }}">
    <img src="{{ asset('build/images/logo.svg') }}" alt="logo" width="50" height="50">
    <span class="topbar__logo__text">BeatHub</span>
  </a>
  <div class="topbar__navigation">
    <a
      class="{{ app.request.get('_route')=='front_default_index' ? 'active' : '' }}"
      href="{{ path('front_default_index') }}"
    >
      Feed
    </a>
    <a
      class="{{ app.request.get('_route')=='front_artists' ? 'active' : '' }}"
      href="{{ path('front_app_artist_index') }}"
    >
      Artists
    </a>
    <a
      class="{{ app.request.get('_route')=='front_events' ? 'active' : '' }}"
      href="{{ path('front_app_event_index') }}"
    >
      Events
    </a>
    <a
      class="{{ app.request.get('_route')=='front_clubs' ? 'active' : '' }}"
      href="{{ path('front_clubs') }}"
    >
      Clubs
    </a>
    <a
      class="{{ app.request.get('_route')=='front_about' ? 'active' : '' }}"
      href="{{ path('front_about') }}"
    >
      About
    </a>
  </div>
  <div class="topbar__user-info">
    {% if not app.user %}
      <a href="{{ path('app_login') }}">Login</a>
        {% include '/Front/components/button.html.twig' with {
          text: 'Register',
          link: path('register'),
          type: 'solid',
          color: 'primary',
        } %}
      {# <a href="{{ path('register') }}">Register</a> #}
    {% else %}
      {% if (is_granted('ROLE_MANAGER') or is_granted('ROLE_ARTIST')) %}
        <a href="{{ path('admin_default_index') }}">Panel d'admin</a>
      {% endif %}
      <a href="{{ path('profile') }}">{{ app.user.userIdentifier }}</a>
      <a href="{{ path('app_logout') }}">Logout</a>
    {% endif %}
  </div>
</div>
{% endblock %}
