{% extends 'base_back.html.twig' %}

{% block title %}BeatHub | Edit {{ mediasList.Title }} {% endblock %}

{% block body %}
    <h1>Edit medias list {{ mediasList.Title }}</h1>

    {{ include('Back/mediasList/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_app_mediaslist_index') }}">back to list</a>

    {{ include('Back/mediasList/_delete_form.html.twig') }}
{% endblock %}
